.bg-img1{
    background-color: #000;
    background-size: cover;
    background-image: url("./img/Dubai.jpg");
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    background-image: url();
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    background-image: url();
}

.container1{
    width: 100%;
    height: 800px;
}
header{
    height: 100px;
}
img{
    width: 100%;
    height: 600px;
}